*{
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: #b93a3a;
  box-sizing: border-box;
  background-image: url(https://localhost/CursoPHP/01.introduccionPHP/Project/imag/imagen1.png);
}

form{
  padding: 40px 80px;
  background-color: #a8140ec2;
  margin-top: 0px;
  padding-left: 500px;
  padding-right: 650px;
  padding-top: 100px;
  border-radius: 50px;
  
  

}

.titulo {
  background:rgba(71, 71, 28, 0.623);
  border-radius: 8px;
  margin-left: 50px;
  margin-right: 50px;
  
}

h1{
  font-size: 38px;
  text-align: center;
  padding: 15px;
  color: rgba(0, 0, 0, 0.568);
  background:none;
}

input{
  width: calc(100% - 20px);
  padding: 9px;
  margin: auto;
  margin-top: 20px;
  font-size: 16px;
  
  background: white;

}

input [type= 'submit' ]{
  background-color: rgb(145, 58, 9);
  color: rgb(0, 0, 0);
  width: calc(80% - 20px);
  margin: 0 80%;
  margin-top: 22px;
  border: none;
}

.ok{
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: rgb(14, 145, 31);
  color: #fff;
}

.bad{
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: rgba(71, 71, 28, 0.623);
  color: #fff;
}
.botons {
 
    padding: 8px 13px;
     
}
.estilo-registro {
  background: rgb(141, 11, 11);
  padding: 32px 30px;
  border-radius: 30px;
}