* {
    margin: 0;
    padding: 0;
   
    border-width: 0px ;
}
h1 {
    margin-left: 280px;
    margin-top: 30px;
    margin-right: 50000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color:rgb(207, 144, 26);
    
}

h2 {
    margin-left: 800px;
    margin-right: 200px;
    margin-top: 150px;
    color:rgb(238, 160, 15) ; 
    font-size: 70px;
    background: none;
    text-align: center;
}

#header {
    margin: auto;
    margin-left: 900px;
    font-family: cursive;
    font-size: 25px;
    background: none;
}

ul, ol {
    list-style: none;
    background: none;
}

.nav li a {
    background-color: rgba(14, 58, 109, 0.973);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 90px;
    display: block;
    width: 160px;
    text-align: center;
    max-height: 80px;
    
    
}

.nav li a:hover {
    background-color: rgb(238, 160, 15);
}

.nav > li {
    float: left;
    background: none;
}

.nav li > ul {
    display:none;
    position: absolute;
    min-width: 140px; 
    height: 80px;
    background: none;
}

.nav li:hover > ul {
    display:block;
    position: absolute;
    min-width: 50px; 
    background: none;
} 

.nav li ul  {
  right: 270px;
  top: 350px;
 position:relative ;
    width: 100px;
    background: none;
 
}





#materias {
    margin: auto;
    width: 1300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: -100px;
    text-align: center;
    

}
ul, ol {
    list-style: none;
    
}
.mat li a {
    background-color: rgb(14, 58, 109);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 150px;
}
.mat li a:hover {
    background-color:rgb(238, 160, 15);
}
.mat > li {
  float: left;
  padding-right: -1px ;
}














body {
    background-image: url(https://localhost/CursoPHP/01.introduccionPHP/Project/imag/wallpapersden.com_black-hole-gravity-4k_1600x900.jpg) ;
    background-size: 1600px 900px;
    
      
  }
