*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;      
    color: black;
}

.contenedor{
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 90px  auto;
    grid-template-rows: 50px auto;
    grid-template-areas: "header header" 
                         "menu contenido";
    transition: all .3s ease;                     
}

.contenedor.active{
    grid-template-columns: minmax(200px, 18%) auto;
}

        /*-----------------------header-----------------------------------*/

.header{
    grid-area: header;
    padding:0 20px;
    display: grid;
    grid-template-columns: auto 1fr auto ;
    grid-gap: 20px;
    justify-content: space-between; 
    grid-template-areas:"logo busqueda iconos";  
}
.header .contenedor-logo {
	grid-area: logo;
	display: flex;
	align-items: center;
}


.contenedor-logo .boton-menu{   
    border:none;
    padding: 10px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.contenedor-logo .boton-menu:hover{
    background: #e7e7e7;
}

.contenedor-logo .logo .fas{
    background: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 25px;
    color: #ff0000;
    position: relative;

}

.contenedor-logo .logo{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}
.header .botones-header{
    grid-area: iconos;
    display: flex;
    align-items: center;
}

.header .botones-header button{
    background: none;
    border:none;
    width: 40px;
    height: 40px;
    font-size: 25px;
    padding: 7px 12px;
    border-radius: 30px;
    color: #ff0000;
    margin-right: 20px;
    cursor: pointer;
}

.header .botones-header button:hover{
    background: #e7e7e7;
}


/*----------------------menu lateral-----------------------------*/
.menu-lateral {
    grid-area: menu;
    background: #ff2828;
    overflow: hidden;
}
.menu-lateral a{
    display: block;
    padding: 15px 35px;
    color: #fff;
    min-width: 800px;


}
.menu-lateral a:hover{
    background: #c5c5c5;
}

.menu-lateral a.active{
    background: #c5c5c5;
    font-weight: bold;
}

.menu-lateral .fas{
    color: #606060;
    margin-right: 32px;
    width: 20px;
    text-align: center;
}

.menu-lateral hr{
    margin: 18px 0;
    border: 1px solid #dddddd;
}

/*-----------------------container----------------*/

.container{
    width: 100%;
   display: flex;
   display: grid;
   grid-gap: 10px 5px;
   grid-template-columns: repeat(4, 1fr);
}
.conteiner{
    width: 250px;
    height: 200px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: rgb(199, 199, 199);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;
    grid-template-columns: repeat(4, 1rf);
}

.conteiner:hover{
    box-shadow: 5px  5px 20px rgba(0,0,0,0.4);
    transform:translateY(-3%);
}


.conteiner img{
    width: 50;
    height: 150px;
}



