* {
    margin: 0;
    padding: 0;
   
    
    
}

h1 {
    margin-left: 280px;
    margin-top: 30px;
    margin-right: 50000px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    color:rgb(207, 144, 26); 
    
    
}

.po {
    margin-left: 800px;
    margin-right: 200px;
    margin-top: 150px;
    color:rgb(238, 160, 15) ; 
    font-size: 70px;
    background: none;
    text-align: center;
}

#header {
    margin: auto;
    margin-left: 900px;
    font-family: cursive;
    font-size: 25px;
    background: none;
}

ul, ol {
    list-style: none;
    background: none;
}

.nav li a {
    background-color: rgba(14, 58, 109, 0.973);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 20px 90px;
    display: block;
    width: 160px;
    text-align: center;
    max-height: 80px;
    
    
}

.nav li a:hover {
    background-color: rgb(238, 160, 15);
}

.nav > li {
    float: left;
    background: none;
}

.nav li > ul {
    display:none;
    position: absolute;
    min-width: 140px; 
    height: 80px;
    background: none;
}

.nav li:hover > ul {
    display:block;
    position: absolute;
    min-width: 50px; 
    background: none;
} 

.nav li ul  {
  right: 270px;
  top: 350px;
 position:relative ;
    width: 100px;
    background: none;
 
}





#materias {
    margin: auto;
    width: 1300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: -100px;
    text-align: center;
    

}
ul, ol {
    list-style: none;
    
}
.mat li a {
    background-color: rgb(14, 58, 109);
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    width: 150px;
}
.mat li a:hover {
    background-color:rgb(238, 160, 15);
}
.mat > li {
  float: left;
  padding-right: -1px ;
}
 

body {
    background-image: url(https://localhost/CursoPHP/01.introduccionPHP/Project/imag/wallpapersden.com_black-hole-gravity-4k_1600x900.jpg) ;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    

  }   
.nmms {
    padding: initial;
    margin-top: 300px;
}
.title1 {
    background-color: rgba(163, 44, 44, 0.753);
    height: 60px;
    width:700px;
    position: relative;


    margin-top: 300px ;
    margin-left: 400px;
    border-radius: 30px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    text-align: center;

}
.title1::after{
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #b92b27;  
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  
    background: linear-gradient(to right, #1565C0, #b92b27); 
    width:100%;
    height:100%;
    filter: blur(20px);
    z-index: -1;
}
.title2 {    
    background-color:rgba(163, 44, 44, 0.753);
    height: 60px;
    width:900px;
    position: relative;
    
    margin-left: 300px;
    border-radius: 30px;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    text-align: center;    
}
.title2::after {
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #b92b27;  
    background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  
    background: linear-gradient(to right, #1565C0, #b92b27); 
    
    width:100%;
    height:100%;
    filter: blur(20px);
    z-index: -1;
}
.deco {
    
    text-align:center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    background-image: url(https://localhost/CursoPHP/01.introduccionPHP/Project/imag/Libro.jpg);
    background-repeat: no-repeat;
    background-position-x:  -10px;
    background-position-y: -60px;
    padding: 70px 120px;
    color:rgb(0, 0, 0);
    
    
 }

.parrafo {
    background: white ;
    width: 400px;
    height: 150px;
    position: relative;

    float: left;
    margin-left: 100px;
    text-align:center;

}
.parrafo::after{
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    width:100%;
    height:100%;
    filter: blur(10px);
    z-index: -1;
}

p2 {
    font-family: 'Times New Roman';
    font-size:30px;
    color:blue;
    margin-left: 30px;
}

p3 {
   font-family: 'Times New Roman';
   font-size: 20px;
   color:rgb(0, 0, 0);
   
}

.parrafo1 {
    background: white ;
    width: 400px;
    height: 200px;
    position: relative;

    float: right;
    margin-right: 100px;
    text-align:center;

}
.parrafo1::after{
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    width:100%;
    height:100%;
    filter: blur(10px);
    z-index: -1;
}
 
p4 {
    font-family: 'Times New Roman';
    font-size:30px;
    color:blue;
    
}

p5 {
   font-family: 'Times New Roman';
   font-size: 20px;
   color:rgb(0, 0, 0);
   
}

.parrafo2 {
    background: white ;
    width: 400px;
    height: 150px;
    position: relative;

    float: left;
    margin-left: 100px;
    text-align:center;

}
.parrafo2::after{
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    width:100%;
    height:100%;
    filter: blur(10px);
    z-index: -1;
}
 
p6 {
    font-family: 'Times New Roman';
    font-size:30px;
    color:blue;
    
}

p7 {
   font-family: 'Times New Roman';
   font-size: 20px;
   color:rgb(0, 0, 0);
   background:none;
   
}
.parrafo3 {
    background: white ;
    width: 400px;
    height: 200px;
    position: relative;

    float: right;
    margin-right: 100px;
    text-align:center;

}
.parrafo3::after{
    position: absolute;
    top:0px;
    left:0px;
    content:'';
    background: #0F2027;  
background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
background: linear-gradient(to right, #2C5364, #203A43, #0F2027); 
    width:100%;
    height:100%;
    filter: blur(10px);
    z-index: -1;
}
 
p8 {
    font-family: 'Times New Roman';
    font-size:30px;
    color:blue;
    
}

p9 {
   font-family: 'Times New Roman';
   font-size: 20px;
   color:rgb(0, 0, 0);
   background:none;
   
}
.imagen23 {
    position: relative;
    width: 95vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:none;
}
img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border-radius: 120px;
    image-orientation: center;
    
}
.idea1 {
    position: absolute;
    background:none;
}


