/* Globales */
html{
  font-size: 62.5%;
  box-sizing: border-box; /* Hack para Box model*/
  scroll-snap-type:  y mandatory;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-image: url(../img/img1.jpg);
  background-size: 80rem 90rem;
  font-family: 'Krub', sans-serif; 
}

/*Registros*/
.estilos-registro {

  width:40rem;
  height: 68rem;
  background: rgba(14, 58, 109, 0.623);
  padding: 5rem;
  margin: auto;
  margin-top:3rem ;
  border-radius: 4rem;
  font-family: 'Krub', sans-serif;
  color: white;
}
.campo {
  color:rgb(0, 0, 0);
  text-align: center;
  padding:0.5rem;
}
input{
  width: calc(100% - 20px);
  padding: 9px;
  margin: auto;
  margin-top: 12px;
  font-size: 18px;
}

/* Tipofrafia */
h1 {
    color: rgb(230, 160, 11) ; 
    text-align: center;
    font-size:4.8rem;
    
} 
h2 {
    margin-top: -35px;
    background-color: rgba(21, 226, 31, 0.63);
    color: rgb(255, 255, 255);
    font-size: 3rem;
    text-align: left;
    margin-bottom: 25px;
    border-radius: 2rem;

}

/*                      */ 
  .p2 {
    float: left;
    padding: 0px 0px;

  }

/*BOTON-REGISTRAR*/ 
  .botons {
    float: center;
    background-color:rgba(21, 226, 31, 0.63)  ;
    color:white;
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5rem;
    width: 60%;
    text-align: center;
    border: none;
  }
  .botons:hover {
    cursor: pointer;
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
  }

  
/*rogo */
  .ok{
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: rgba(21, 226, 31, 0.63);
  color: #fff;
  margin-top: 20px;
  border-radius: 40px;
  font-family: 'Krub', sans-serif;
}

.bad{
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: rgba(238, 82, 67, 0.835);
  color: rgb(0, 0, 0);
  margin-top: 20px;
  border-radius: 40px;
}